.form-container {
  width: 100%;
  height: 462px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  padding: 23px 24px 20px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 5;
  background-color: #fff;
}

.form-img-container {
  position: absolute;
  top: 0;
  z-index: -1;
  left: -5px;
  width: 108%;
  height: 190px;
  object-fit: contain;
}

.form-rectangle-img {
  width: 100%;
  height: 100%;
}

.sale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
}

.sale-title {
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.time-text {
  color: var(--background-card-color);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 3px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.old-container {
  position: relative;
}

.old-price {
  font-size: 30px;
  font-weight: 600;
  color: #6b6b6b;
}

.old-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 110px;
  height: 2px;
  background-color: #f6be91;

  transform: rotate(162.55deg);
  transform-origin: center;
}

.new-price {
  font-size: 36px;
  font-weight: 600;
}

.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.label {
  position: relative;
  width: 100%;
}

.label::before {
  content: "";
  display: block;
  background-image: url("../images/hero/paw-form-1x.webp");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 17px;
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
}

.input {
  padding: 16px 0 15px 55px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  background-color: #f3efef;
}

.hero-form-btn {
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  background-color: var(--button-color);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--heading-card-color);
  transition: background-color 200ms linear;
}

.hero-form-btn:hover {
  background-color: #88b32c;
}

.order-date-text {
  margin-top: 30px;
  text-shadow: var(--box-shadow);
}

@media only screen and (min-resolution: 192dpi) {
  .label::before {
    background-image: url("../images/hero/paw-form-2x.webp");
  }
}

@media screen and (min-width: 768px) and (max-width: 1139.98px) {
  .form-img-container {
    top: -8px;
    left: -10px;
  }

  .price-container {
    gap: 90px;
  }

  .hero-form {
    width: 400px;
  }
}

@media screen and (min-width: 1140px) {
  .form-container {
    width: 270px;
  }

  .price-container {
    gap: 16px;
  }
}
