.results-section {
  padding: 99px 0 197px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #e1edf8 0%,
    rgba(127, 179, 225, 0) 59%,
    var(--shadow-color) 100%
  );
}

.results-overlay-container {
  background-image: url("../images/results/grass-1x.webp");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 844px;
}

@media only screen and (min-resolution: 192dpi) {
  .results-overlay-container {
    background-image: url("../images/results/grass-2x.webp");
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-section-heading {
  color: #537d13;
  margin-bottom: 58px;
}

.results-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.results-text-container {
  width: 760px;
  height: 354px;
  justify-content: center;
  background-image: url("../images/results/results-rectangle-1x.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 98px 41px 40px;
  line-height: 1.3;
}

@media only screen and (min-resolution: 192dpi) {
  .results-text-container {
    background-image: url("../images/results/results-rectangle-2x.webp");
  }
}

.results-text {
  margin: 18px 0;
}

.results-cat-img {
  width: 300px;
  height: 300px;
}
